:root{

    --azulFuerte: #093C5D;
    --azulMediano : #3B7597;
    --azulClaro : #6FD1D7;
    ---pistache : #5DF8D8;
    --blanco: #FAFBF5;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

*, *::after, *::before{
     box-sizing: content-box;
}

body{
    background-color: var(--blanco);
}

.barra-opciones{
    background-color: var(--azulClaro);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
     color: var(--blanco);
    padding-bottom: 10px;
    
}

.inicio{
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 5px;
    padding: 10px;
}

li{
    list-style: none;
    cursor: pointer;
}

.nombre-usuario {
    color: black;
   margin-left: auto;
   margin-right: 50px;
   margin-top: 20px;
   background-color: var(--blanco);
   border-radius: 10px;
   padding: 10px;
   cursor: pointer;
}

/*CONTENEDOR DE CSV */

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--blanco), var(---pistache));
    width: 290px;
    height: 290px;
    overflow: hidden;
    border-radius: 8px;
}

.insert-file{
    overflow: hidden;
    width: 210px;
    height: 170px;
    display:block;
   align-content: center;
   background-color: var(--blanco);
   border-radius: 8px;
   margin: 0;

}

.csv-insert{
    text-align: center;
}

.subir-btn{
    padding-top: 20px;
    text-align: center;
}

#nombre-archivo{
   text-align: center;
}