{%extends "base.html"%}
<title>{% block title%}Historial de PDFs{% endblock%}</title>


{%block content%}

<div class="Titulo-descrip">

<div class="Titulo-contendor">
<h1 class="Titulo">Historial de PDFs</h1>
</div>

<div class="description">

    <p>
        Gestiona tus PDFs de manera facil
    </p>
</div>

</div>

<div class="Table-PDF">

    <table>
        <thead>
            <tr> 
                <th>Nombre</th>
            <th>Fecha</th>
            <th>Acciones</th>                
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>archivo.pdf</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{%endblock%}