{%extends "base.html"%}
<title>{% block title%}Historial de PDFs{% endblock%}</title>


{%block content%}

<div class="Titulo-descrip">

<div class="Titulo-contendor">
<h1 class="Titulo">Historial de PDFs</h1>
</div>

<div class="description">

    <p>
        Gestiona tus PDFs de manera facil
    </p>
</div>

</div>

<div class="Filtros">

    <form enctype="multipart/form-data" id="form-filtros" action="" method="POST">

    <input type="date" name="fecha-Filtro" id="fecha-filtro">
    <input type="text" name="nombreArchivo-Filtro" placeholder="nombre archivo" id="nombreArchivo-filtro">
    <input type="text" name="nombreCreador-Filtro" placeholder="nombre creador" id="nombreCreador-filtro">

    <div class="div-buscar">
    <i class="bx bx-search" /></i><input type="submit" value="Buscar" id="buscar-filtro">
    </div>

    <div class="div-limpiar">
    <i class="bx bx-broom" /></i> <input type="reset" value="Limpiar" id="limpiar-filtro">
    </div>

</form>
</div>

<div class="Table-PDF">

    <table class="tabla-Historial">
        <thead class="tablaHeader-Historial">
            <tr> 
                <th>Nombre</th>
            <th>Fecha</th>
            <th>Creador</th>
            <th>Acciones</th>                
            </tr>
        </thead>

        <tbody class="tablaCuerpo-Historial">
        </tbody>
    </table>
</div>

<script type="module" src="{{ url_for('static', filename='JS/modules/uiTablasHistorial.js')}}"></script>
<script type="module" src="{{ url_for('static', filename='JS/modules/historial_filtros.js')}}"></script>
<script type="module" src="{{ url_for('static', filename='JS/modules/historial_filtroCreador.js')}}"></script>
{%endblock%}

