<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--TAILWIND CSS-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Registro de Usuario</title>
</head>
<body>

    <div class=" inline-flex flex-col justify-center items-center form">
        <div class= " titulo-formulario">
            <h1 class="FormularioTitulo">Registro</h1>
        </div>

        <form action="" method="post">
            <label for="nombre">Nombre:</label>
            
            <input type="text" name="nombre" id="input-form" required>
            
            <label for="password">Nueva Clave:</label>
           
            <input type="password" name="clave" maxlength="8" required>
           
            <label for="">Confirmacion de Clave:</label>
          
            <input type="password" name="clave-confirmacion" maxlength="8" required>

            
            <input type="submit" value="Registrarse" name="registrar-usuario">
        </form>

        <a href="{{ url_for('inicio_sesion') }}">¿Ya tienes cuenta?Inicia sesion</a>
    </div>

</body>
</html>