<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>

    <div class="form">
        <div class="titulo-formulario">
            <h1 class="FormularioTitulo">Registro</h1>
        </div>

        <form action="" method="post">
            <label for="nombre">Nombre:</label>
            <br>
            <input type="text" name="nombre" id="input-form" required>
            <br>
            <label for="password">Nueva Clave:</label>
            <br>
            <input type="password" name="clave" maxlength="8" required>
            <br>
            <label for="">Confirmacion de Clave:</label>
            <br>
            <input type="password" name="clave-confirmacion" maxlength="8" required>

            <br>
            <input type="submit" value="Registrarse" name="registrar-usuario">
        </form>

        <a href="{{ url_for('inicio_sesion') }}">¿Ya tienes cuenta?Inicia sesion</a>
    </div>

</body>
</html>