{% extends "base.html" %}
{% block title %} Registro - Ventas {% endblock %}

{% block content %}

<h1>Bienvenido al Analisis de Ventas</h1>

<div class="contenedor">

<div class="insert-file">

    <form enctype="multipart/form-data" action="/Inicio" method="POST">
    <div class="csv-insert">

    <p id="nombre-archivo" name="nombre-archivo"><strong>Inserta tu archivo CSV</strong></p>
    <input type="file" name="file-csv" id="file-csv" accept=".csv" hidden>
    <button type="button" id="btn-seleccionar" name="btn-seleccionar">Seleccionar Archivo</button>
    </div>
      <br>
        <br>

    <div>
        <input type="submit" id="btn-subir" value="Subir Archivo">
    </div>
</form>

</div>

</div>

<div class="Filtros">

    <form action="/Inicio" method="POST">
    <div class="filtro-fecha">
<input type="date" id="filtro_fecha_inicio" name="filtro_fecha_inicio" value="{{filtro_fecha_inicio}}">
<input type="date" id="filtro_fecha_fin" name="filtro_fecha_fin"  value="{{filtro_fecha_fin}}">
    </div>

    <div class="filtro-categoria">
        <input type="text" id="filtro_categoria" name="filtro_categoria" placeholder="Buscar por categoria"  value="{{filtro_categorias}}">
    </div>

    
    <div class="filtro-producto">
        <input type="text" id="filtro_producto" name="filtro_producto" placeholder="Buscar por producto"  value="{{filtro_producto}}">
    </div>

    <div class="boton-buscar">
        <input type="submit" value="Buscar" name="btn-buscar">
    </div>

    </form>

</div>

<div style="background: white; margin-bottom: 20px; padding: 15px; border-radius: 8px;">
        {{ barras | safe }}
    </div>

    <div style="background: white; margin-bottom: 20px; padding: 15px; border-radius: 8px;">
        {{ lineas | safe }}
    </div>

    <div style="background: white; margin-bottom: 20px; padding: 15px; border-radius: 8px; max-width: 600px;">
        {{ pastel | safe }}
        </div>
{% endblock %}