<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--TAILWIND CSS-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

   
    <title>Inicio de Sesion</title>
</head>
<body class="bg-gray-100 flex min-h-screen items-center justify-center p-4">

    <div class= "bg-white p-8 rounded-xl shadow-md w-full max-w-md flex flex-col gap 7">
        <div class="flex justify-center items-center">
            <h1 class="text-2xl font-bold text-gray-800">Inicio de Sesion</h1>
        </div>

        <form action="/login" method="post" class="flex flex-col gap-4">

            <div class="grid">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="input-form"  class="px-3 py-2 bg-[#E8E6E3] rounded-lg p-1 focus:outline-none focus:ring-2 focus:ring-[#6FD1D7] focus:border- ¨[#6FD1D7]"  required>
            </div>

            <div class="grid">
            <label for="password">Nueva Clave:</label>
            <input type="password" name="clave"  class="px-3 py-2 bg-[#E8E6E3] rounded-lg p-1 focus:outline-none focus:ring-2 focus:ring-[#6FD1D7] focus:border- ¨[#6FD1D7]"  maxlength="8" required>
            </div>

            <div class="flex justify-center ">
            <input class="bg-[#3B7597] p-2 w-full rounded-sm text-[#FAFBF5] hover:cursor-pointer hover:bg-[#093C5D] hover: transition-colors duration-300 ease-in-out " type="submit" value="Iniciar sesion" >
             </div>

        </form>

       <div class="flex justify-center p-2 ">
         <a href="{{ url_for('index') }}" class="underline text-[#3B7597] ">¿No tienes cuenta?Registrate</a>
    </div>
</div>

</body>
</html>