{% extends "base.html" %}
{% block title %} Registro - Ventas {% endblock %}

{% block content %}

<h1>Bienvenido al Analisis de Ventas</h1>

<div class="contenedor">

<div class="insert-file">

    <form enctype="multipart/form-data" action="/Inicio" method="POST">
    <div class="csv-insert">

    <p id="nombre-archivo" name="nombre-archivo"><strong>Inserta tu archivo CSV</strong></p>
    <input type="file" name="file-csv" id="file-csv" accept=".csv,.pdf" hidden>
    <button type="button" id="btn-seleccionar" name="btn-seleccionar">Seleccionar Archivo</button>
    </div>
      <br>
        <br>

    <div>
        <input type="submit" id="btn-subir" value="Subir Archivo">
    </div>
</form>

</div>

</div>
{% endblock %}