<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
</head>
<body>

    <div class="form">
        <div class="titulo-formulario">
            <h1 class="FormularioTitulo">Inicio de Sesion</h1>
        </div>

        <form action="/login" method="post">
            <label for="nombre">Nombre:</label>
            <br>
            <br>
            <input type="text" name="nombre" id="input-form" required>
            <br>
            <br>
            <label for="password">Nueva Clave:</label>
            <br>
            <br>
            <input type="password" name="clave" maxlength="8" required>
            <br>
            <br>
            <input type="submit" value="Registrarse" >
        </form>

        <br>
         <a href="{{ url_for('index') }}">¿No tienes cuenta?Registrate</a>
    </div>

</body>
</html>