<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--TAILWIND CSS-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

   
    <title>Inicio de Sesion</title>
</head>
<body class="bg-gray-100 flex min-h-screen items-center justify-center p-4">

    <div class= "bg-white p-8 rounded-xl shadow-md w-full max-w-md flex flex-col gap 7">
        
          <!--🌟Mensaje de flash-->

 <!--🌟Mensaje de flash-->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      
      
      {% if category == 'warning' %}
        {% set colors = 'border-[#E6A23C] bg-[#FDF6EC] text-[#E6A23C]' %}
      {% elif category == 'success' %}
        {% set colors = 'border-[#67C23A] bg-[#F0F9EB] text-[#67C23A]' %}
      {% else %}
       
        {% set colors = 'border-[#A62D39] bg-[#C9616F] text-white' %}
      {% endif %}

      <div class="alert alert-{{ category }} text-center border-2 border-solid p-2 mb-4 font-semibold {{ colors }}">
          {{ message }}
      </div>

    {% endfor %}
  {% endif %}
{% endwith %}


        <div class="flex justify-center items-center">
            <h1 class="text-2xl font-bold text-gray-800">Inicio de Sesion</h1>
        </div>

        <form action="" method="post" class="flex flex-col gap-4">

            <div class="grid">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="input-form"  class="px-3 py-2 bg-[#E8E6E3] rounded-lg p-1 focus:outline-none focus:ring-2 focus:ring-[#6FD1D7] focus:border- ¨[#6FD1D7]"  required>
            </div>

            <div class="grid">
            <label for="password">Clave:</label>
            <input type="password" name="clave"  class="px-3 py-2 bg-[#E8E6E3] rounded-lg p-1 focus:outline-none focus:ring-2 focus:ring-[#6FD1D7] focus:border- ¨[#6FD1D7]"  maxlength="8" required>
            </div>

            <div class="flex justify-center ">
            <input class="bg-[#3B7597] p-2 w-full rounded-sm text-[#FAFBF5] hover:cursor-pointer hover:bg-[#093C5D] hover: transition-colors duration-300 ease-in-out " type="submit" value="Iniciar sesion" >
             </div>

        </form>

     
</div>

</body>
</html>